<h1>Seja bem vindo</h1>
<p>O idioma utilizado nesta aplicação é: <%= t('actual_locale') %></p>
<p>Pagina de bem vindos do Gabriel</p>
<p><%= I18n.t("hello")%></p>
    
<p> A soma é <%= 1 + 1%></p>
<% a = "Muito legal o Ruby" %>
<p>Imprimindo a variavel a: <%= a %></p>
<p>Hoje é <%= l(Date.today)%></p>

<%= render "menu"%>

<p>Data: <%= Date.today%></p>
<p><%= nome_aplication %></p>

<p>Ambiente de <%= ambiente_rails %></p>

<p>O meu nome é <%= @nome%></p>