<h1>Seja bem vindo</h1>
<p>Pagina de bem vindos do Gabriel</p>
    
    
<p> A soma é <%= 1 + 1%></p>
<% a = "Muito legal o Ruby" %>
<p>Imprimindo a variavel a: <%= a %></p>
<p>Hoje é <%= Date.today%></p>

<%= render "menu"%>

<p>Data: <%= data_br(Date.today)%></p>
<p><%= nome_aplication %></p>

<p>Ambiente de <%= ambiente_rails %></p>

<p>O meu nome é <%= @nome%></p>